.sidebar {
    width: var(--default-layout-sidebar-width, 200px);
    min-height: var(--default-layout-sidebar-height, 1000px);
    padding: 8px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #d6b0a2, #faf7f7, #e0bbaa);
}

.shopname {
    color: #aa715a;
    text-align: center;
    font-weight: 800;
    font-size: 2.8rem;
    margin: 0 10px 20px 0px;
}
