.container {
    width: var(--default-layout-sidebar-width, 200px);
    min-height: var(--default-layout-sidebar-height, 1000px);
    display: flex;
    justify-content: center;
    background-color: #ccc;
}
