.container {
    // background-color: red;
    display: flex;
    width: 100%;
}

.wrapper {
    width: 100%;
    // background-color: #e6d0c8;
    background: linear-gradient(to bottom, #e5cec5, #f2e9e6);
}

.content {
    flex: 1;
    // background-color: #e0e0e0;
    min-height: 1000px;
}
